# Ignorando arquivos - deploy

.env

# Ignorando arquivos - node_modules

node_modules

# Ignorando arquivos - build

build

# Ignorando arquivos - .vscode

.vscode

# Ignorando ambiente de desenvolvimento

/.venv


